// Here are global styles and variables I'm using for my project

// Typographic styles
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@200&display=swap');

$headerFont: 'Open Sans', sans-serif;
$baseFont: 'Oswald', sans-serif;

@mixin headerText {
    font-family: $headerFont;
    font-weight: 800;
}

html {
    font-family: $baseFont;
}

h1, h2 {
    @include headerText;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    position: relative;
    bottom: 6rem;

    @media(min-width: 625px) {
        font-size: 5rem;
    }
}

// Color variables
$background: #FFF;
$primary: #000;
$secondary: #778899;

// General styles
.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    height: 5%;

    i {
        padding-top: 1rem;
        position: absolute;
        right: 1rem;
    }
}

footer {
    height: 10%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

i {
    color: $primary;
    font-size: 1.5rem;
}

button {
    font-family: $baseFont;

    i {
        color: $secondary;
    }
}

.social {
    display: flex;
    justify-content: center;
    margin: 0;

    li {
        padding: 0 .75rem;
    }

    +p {
        text-align: center;
        margin: 0;
        padding-top: .5rem;
    }
}