main {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

section {
    height: 85vh;
    min-width: 100%;
    position: fixed;
    transition: .3s;
}

.intro {
    background: url(../assets/redStripe.png);
    background-size: 70rem;
    background-position-x: -21rem;
    background-position-y: -11rem;
    display: flex;
    align-items: center;
    text-align: center;

    @media(min-width: 915px) {
        background-position-x: -3rem;
    }
}

.about {
    background: url(../assets/purpleStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
}

.skillset {
    background: url(../assets/lightBrownStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
}

.projects {
    background: url(../assets/blueStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
}

.contact {
    background: url(../assets/darkBrownStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
}

.prevSlide,
.nextSlide {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
    z-index: 10;

    i {
        font-style: normal;
        font-size: 3rem;
    }

    .imgContainer {
        width: 2.5rem;
        margin: 0rem -.25rem;
    }
}

.prevSlide {
    left: .5rem;
}

.nextSlide {
    right: .5rem;
}