@use './variables.scss' as *;
main {
    display: flex;
}

.slideshow {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

section {
    height: 85vh;
    min-width: 100%;
    position: fixed;
}

.prevSlide,
.nextSlide {
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1rem;
    z-index: 10;
    height: 0;
    bottom: 15%;

    @media(min-width: 915px) {
        bottom: 50%;
    }

    i {
        font-style: normal;
        font-size: 3rem;
    }

    .imgContainer {
        width: 2.5rem;
        margin: 0rem -.25rem;
    }
}

.prevSlide {
    left: .5rem;

    .imgContainer {
        margin-right: -1.75rem;
    }

    img {
        object-position: -1.25rem;
    }
}

.nextSlide {
    right: .5rem;

    .imgContainer {
        margin-left: -1.75rem;
    }

    img {
        object-position: 1.25rem;
    }
}

.introColor {
&:focus-visible, &:hover {
    color: $introColor;
}
}

.aboutColor {
    &:focus-visible, &:hover {
        color: $aboutColor;
    }
}

.projectsColor {
    &:focus-visible, &:hover {
        color: $projectsColor;
    }
}

.contactColor {
    &:focus-visible, &:hover {
        color: $contactColor;
    }
}