@use '../variables.scss' as *;

.about {
    background: url(../assets/purpleStripe2.png);
    background-size: 70rem;
    background-position-x: -38rem;
    background-position-y: -11rem;
    overflow: scroll;

    h2 {
        margin-top: 7rem;
        margin-bottom: -5rem;
        text-align: center;
    }

    .bio {
        max-width: 27rem;
        @include contentBox;
        border-color: $aboutColor;
        margin: auto;

        p {
            max-width: 27rem;
            margin-left: 0rem;
            font-size: 1.3rem;
            margin: 0;
            margin-top: .8rem;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    .skillList {
        @include contentBox;
        border-color: $aboutColor;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        max-width: 27rem;

        h3 {
            margin: 0;
            margin-bottom: .5rem;
            text-align: center;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 25rem;
        justify-content: center;
        margin: 0;

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }

        i {
            font-size: 4.5rem;
            color: $aboutColor;
        }
    }
}