.about {
    @media (min-width: 580px) {
        background-position-x: -3rem;

        .skillList {
            margin-top: 2rem;
            margin-bottom: 4rem;

        }
    }

    h2 {
        @media (min-width: 625px) {
            margin-top: 5rem;
            text-align: left;
        }
    }

    @media (min-width: 1200px) {
        overflow: hidden;

        .bio {
            margin: 0;
        }

        .skillList {
            position: absolute;
            top: -2rem;
            right: 5rem;
            background: transparent;
            border: none;
            opacity: 1;
        }

    }

}