@use '../variables.scss' as *;

.contact {
    background: url(../assets/greenStripe.webp);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
    overflow-y: scroll;

    h2 {
        bottom: 0;
        font-size: 2.6rem;
        margin: 2rem 0;
        text-align: center;
    }

    form {
        @include contentBox;
        border-color: $contactColor;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 2rem;
        margin-bottom: 3rem;

        h3 {
            text-align: center;
            font-size: 2rem;
            width: 100%;
            margin-top: 0;
        }

        label {
            padding-bottom: 1rem;
            width: 100%;
        }

        label:last-of-type {
            width: 100%;
        }

        input {
            font-family: $baseFont;
            width: 100%;
            padding: 0.2rem 0.5rem;
            outline: none;
        }

        button {
            background: #3fc35f;
            margin: auto;
            padding: .2rem 3rem;
            border-style: none;
            border-radius: 10px;

            i {
                color: $background;
            }
        }
    }

    textarea {
        resize: none;
        font-family: $baseFont;
        width: 100%;
        padding: .5rem;
        height: 12rem;
        outline: none;
    }
}