@use '../variables.scss' as *;

.projects {
    background: url(../assets/blueStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
    margin-bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    h2 {
        margin-bottom: -5.5rem;
        padding-top: 5rem;
        font-size: 2.5rem;
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 3rem;
    }

    li {
        margin: .75rem 1rem;
        @include border;
        border-color: $projectsColor;
        opacity: .85;
        position: relative;
    }

    img {
        height: 100%;
    }

    .projectButton {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00AEEF;
        color: #FFF;
        border: 1px solid black;
        padding: 0.5rem .6rem;
        border-radius: 1rem;
    }

    .modalHidden {
        display: none;
    }

    .projectModal {
        position: absolute;
        z-index: 10;
        background-color: white;
        opacity: 1;

        ul {
            margin-bottom: 0;
        }

        i {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        p {
            margin: 1rem;
            max-width: 80%;
        }
    }

    .projectSkills li {
        background-color: transparent;
        color: $projectsColor;
        border: none;
        font-family: $headerFont;
        width: auto;
    }

    .projectLinks li {
        text-align: center;
        width: auto;
        padding: .2rem .6rem;
        background-color: $projectsColor;


        a {
            color: $background;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2rem;
        }
    }

    .modal1 {
        @include modalArrowTop;
        transform: translateY(9rem);
    }

    .modal2 {
        @include modalArrowTop;
        transform: translateY(18rem);
    }
}