@use "../variables.scss" as *;

.projects {
  @media (min-width: 375px) {
    h2 {
      padding-top: 4rem;
      font-size: 3rem;
    }

    button {
      padding: 0.5rem 1rem;
    }

    .modal3 {
      transform: translateY(9rem);
    }

    .modal4 {
      transform: translateY(16rem);
    }
  }

  @media (min-width: 400px) {
    .modal4 {
      transform: translateY(22rem);
    }
  }

  @media (min-width: 425px) {
    .modal2 {
      transform: translateY(24rem);
    }

    .modal3 {
      transform: translateY(17rem);
    }

    .modal4 {
      transform: translateY(28rem);
    }
  }

  @media (min-width: 625px) {
    h2 {
      font-size: 5rem;
    }

    .modal2 {
      transform: translateY(35rem);
    }
  }

  @media (min-width: 750px) {
    h2 {
      padding-top: 1rem;
      text-align: left;
    }

    li {
      width: 43%;
    }

    .modal1 {
      // transform: translate(-8rem, 10rem);
      @include modalArrowLeft;
      transform: translate(8rem, -1rem);

      &:before,
      &:after {
        margin-left: 0;
      }
    }

    .modal2 {
      @include modalArrowRight;
      transform: translate(-9rem, 0);

      &:before,
      &:after {
        left: auto;
        top: 25%;
      }
    }

    .modal3 {
      @include modalArrowLeft;
      transform: translate(9rem, 5rem);

      &:before,
      &:after {
        bottom: auto;
        margin-left: 0;
        top: 75%;
      }
    }

    .modal4 {
      @include modalArrowRight;
      transform: translate(-8rem, 5rem);

      &:before,
      &:after {
        bottom: auto;
        left: auto;
      }
    }
  }

  @media (min-width: 780px) {
    .modal4 {
      transform: translate(-8rem, 9rem);
    }
  }

  @media (min-width: 1200px) {
    overflow: hidden;

    h3 {
      position: absolute;
      right: 6rem;
      top: 0rem;
    }

    li {
      width: 30%;
      margin-top: 0;
    }
  }

  @media (min-width: 1280px) {
    background-size: 78.8rem;
    background-position-x: -3.4rem;
  }

  @media (min-width: 1440px) {
    background-size: 87.6rem;
    background-position-x: -3.8rem;
    height: 100%;
  }

  @media (min-width: 1600px) {
    background-size: 105.1rem;
    background-position-x: -4.6rem;
  }
}
