@use '../variables.scss' as *;

.projects {
    background: url(../assets/blueStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
    margin-bottom: 0;

    h2 {
        margin-bottom: -5.5rem;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
    }

    li {
        width: 30%;
        margin: .75rem 1rem;
        border: 4px solid #00AEEF;
        border-radius: 4px;
        opacity: .85;
        background-color: #00AEEF;
        position: relative;
    }

    img {
        height: 100%;
    }

    .projectButton {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #00AEEF;
        color: #FFF;
        border: 1px solid black;
        padding: 0.5rem 1.6rem;
        border-radius: 1rem;
    }

    .modalHidden {
        display: none;
    }

    .projectModal {
        position: absolute;
        z-index: 10;
        background-color: white;
        opacity: 1;
        p {
            margin: 1rem;
        }
    }

    .modal1 {
        transform: translateX(8rem);
        @include modalArrowLeft;
    }

    .modal2 {
        transform: translateX(-8rem);
        @include modalArrowRight;
        &:after, &:before {
            top: 35%;
        }
    }
}