@use '../variables.scss' as *;

.projects {
    background: url(../assets/blueStripe.png);
    background-size: 70rem;
    background-position-x: -3rem;
    background-position-y: -11rem;
    margin-bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    h2 {
        margin-bottom: -5.5rem;
        padding-top: 5rem;
        font-size: 2.5rem;
        text-align: center;
    }

    h3 {
        text-align: center;

        span {
            color: $background;
            background-color: $projectsColor;
            color: $background;
            border: 1px solid $primary;
            padding: 0.5rem .6rem;
            border-radius: 1rem;
            display: inline-block;
            text-transform: capitalize;
        }
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 3rem;

        .modalHidden {
            visibility: hidden;
            transform: translateX(400%);
        }
    }

    li {
        margin: .75rem 1rem;
        @include border;
        border-color: $projectsColor;
        opacity: .85;
        position: relative;
    }

    img {
        height: 100%;
        max-height: 11rem;
    }

    .projectButton {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: $projectsColor;
        color: $background;
        border: 1px solid $primary;
        padding: 0.5rem .6rem;
        border-radius: 1rem;
        cursor:pointer;
        &:hover, &:focus-visible {
            color: $primary;
            outline: none;
        }
    }

   

    .projectModal {
        position: absolute;
        z-index: 10;
        background-color: $background;
        opacity: 1;
        transition: .4s;

        ul {
            margin-bottom: 0;
        }

        i {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        p {
            margin: 1rem;
            max-width: 80%;
        }
    }

    .closeModal {
        cursor: pointer;
        &:hover, &:focus, &:active {
            color: $introColor;
        }
    }

    .projectSkills li {
        background-color: transparent;
        color: $projectsColor;
        border: none;
        font-family: $headerFont;
        width: auto;
    }

    .projectLinks li {
        text-align: center;
        width: auto;
        padding: .2rem .6rem;
        background-color: $projectsColor;


        a {
            color: $background;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.2rem;
            &:hover, &:focus-visible {
                color: $primary;
            }
        }
    }

    .modal1 {
        @include modalArrowTop;
        transform: translateY(9rem);
    }

    .modal2 {
        @include modalArrowTop;
        transform: translateY(18rem);
    }

    .modal3 {
        @include modalArrowBottom;
        transform: translateY(3rem);
    }

    .modal4 {
        @include modalArrowBottom;
        transform: translateY(11rem);
    }
}