@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Oswald:wght@200&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Oswald", sans-serif;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  position: relative;
  bottom: 6rem;
}
@media (min-width: 625px) {
  h1,
  h2 {
    font-size: 5rem;
  }
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000;
}

*:focus {
  outline: none;
}

body {
  height: 100vh;
}

header {
  height: 5%;
}
header .openMenu {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000;
}
header .openMenu:hover {
  -webkit-transform: scale(125%);
          transform: scale(125%);
}
header .navMenu {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #778899;
  height: 100vh;
  z-index: 20;
  position: absolute;
  width: 100vw;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
}
header li {
  padding: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
header li:first-of-type:hover, header li:first-of-type:focus {
  color: #9867C5;
}
header li:nth-of-type(2):hover, header li:nth-of-type(2):focus {
  color: #00AEEF;
}
header li:last-of-type:hover, header li:last-of-type:focus {
  color: #3FC35F;
}
header .closeMenu {
  position: absolute;
  top: 0;
}
header .closeMenu:hover, header .closeMenu:focus {
  color: #FFF;
}
header .navOpen {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
}
header i {
  padding-top: 1rem;
  position: absolute;
  right: 1rem;
  z-index: 10;
}

footer {
  height: 10%;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.85rem;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .wrapper p {
  padding: 0;
}
@media (min-height: 650px) {
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  footer .wrapper p {
    padding: 0.5rem;
  }
}
@media (min-width: 405px) {
  footer {
    font-size: 1rem;
  }
}
footer i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
footer i:hover {
  -webkit-transform: scale(125%);
          transform: scale(125%);
}

i {
  color: #000;
  font-size: 1.5rem;
}

button {
  font-family: "Oswald", sans-serif;
}
button i {
  color: #778899;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.social li {
  padding: 0 0.75rem;
}
.social + p {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  height: 85vh;
  min-width: 100%;
  position: fixed;
}

.prevSlide,
.nextSlide {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  z-index: 10;
  height: 0;
  bottom: 15%;
}
.prevSlide .sliderDisable,
.nextSlide .sliderDisable {
  color: #778899;
}
.prevSlide .sliderDisable:hover, .prevSlide .sliderDisable:focus,
.nextSlide .sliderDisable:hover,
.nextSlide .sliderDisable:focus {
  color: #778899;
}
@media (min-width: 915px) {
  .prevSlide,
  .nextSlide {
    bottom: 50%;
  }
}
.prevSlide i,
.nextSlide i {
  font-style: normal;
  font-size: 3rem;
}
.prevSlide .imgContainer,
.nextSlide .imgContainer {
  width: 2.5rem;
  margin: 0rem -0.25rem;
}

.prevSlide {
  left: 0.5rem;
}
.prevSlide i {
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nextSlide {
  right: 0.5rem;
}
.nextSlide i {
  color: #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.introColor:focus-visible, .introColor:hover {
  color: #F7484E;
}

.aboutColor:focus-visible, .aboutColor:hover {
  color: #9867C5;
}

.projectsColor:focus-visible, .projectsColor:hover {
  color: #00AEEF;
}

.contactColor:focus-visible, .contactColor:hover {
  color: #3FC35F;
}

.intro {
  background: url(../assets/redStripe.png);
  background-size: 70rem;
  background-position-x: -21rem;
  background-position-y: -11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro h1 {
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 0;
}
.intro .imgContainer {
  border: 4px solid;
  border-radius: 5px;
  border-color: #F7484E;
}

.about {
  background: url(../assets/purpleStripe2.png);
  background-size: 70rem;
  background-position-x: -38rem;
  background-position-y: -11rem;
  overflow: scroll;
}
.about h2 {
  margin-top: 7rem;
  margin-bottom: -5rem;
  text-align: center;
}
.about .bio {
  max-width: 27rem;
  opacity: 0.85;
  background-color: #FFF;
  padding: 1rem;
  border: 4px solid;
  border-radius: 5px;
  border-color: #9867C5;
  margin: auto;
}
.about .bio p {
  max-width: 27rem;
  margin-left: 0rem;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 0.8rem;
}
.about .bio p:first-of-type {
  margin-top: 0;
}
.about .skillList {
  opacity: 0.85;
  background-color: #FFF;
  padding: 1rem;
  border: 4px solid;
  border-radius: 5px;
  border-color: #9867C5;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 27rem;
}
.about .skillList h3 {
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}
.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.about ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
}
.about ul i {
  font-size: 4.5rem;
  color: #9867C5;
}

.projects {
  background: url(../assets/blueStripe.png);
  background-size: 70rem;
  background-position-x: -3rem;
  background-position-y: -11rem;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.projects h2 {
  margin-bottom: -5.5rem;
  padding-top: 5rem;
  font-size: 2.5rem;
  text-align: center;
}
.projects h3 {
  text-align: center;
}
.projects h3 span {
  color: #FFF;
  background-color: #00AEEF;
  color: #FFF;
  border: 1px solid #000;
  padding: 0.5rem 0.6rem;
  border-radius: 1rem;
  display: inline-block;
  text-transform: capitalize;
}
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 3rem;
}
.projects ul .modalHidden {
  visibility: hidden;
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
}
.projects li {
  margin: 0.75rem 1rem;
  border: 4px solid;
  border-radius: 5px;
  border-color: #00AEEF;
  opacity: 0.85;
  position: relative;
}
.projects img {
  height: 100%;
  max-height: 11rem;
}
.projects .projectButton {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #00AEEF;
  color: #FFF;
  border: 1px solid #000;
  padding: 0.5rem 0.6rem;
  border-radius: 1rem;
  cursor: pointer;
}
.projects .projectButton:hover, .projects .projectButton:focus-visible {
  color: #000;
  outline: none;
}
.projects .projectModal {
  position: absolute;
  z-index: 10;
  background-color: #FFF;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.projects .projectModal ul {
  margin-bottom: 0;
}
.projects .projectModal i {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.projects .projectModal p {
  margin: 1rem;
  max-width: 80%;
}
.projects .closeModal {
  cursor: pointer;
}
.projects .closeModal:hover, .projects .closeModal:focus, .projects .closeModal:active {
  color: #F7484E;
}
.projects .projectSkills li {
  background-color: transparent;
  color: #00AEEF;
  border: none;
  font-family: "Open Sans", sans-serif;
  width: auto;
}
.projects .projectLinks li {
  text-align: center;
  width: auto;
  padding: 0.2rem 0.6rem;
  background-color: #00AEEF;
}
.projects .projectLinks li a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
}
.projects .projectLinks li a:hover, .projects .projectLinks li a:focus-visible {
  color: #000;
}
.projects .modal1 {
  -webkit-transform: translateY(9rem);
          transform: translateY(9rem);
}
.projects .modal1:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 0 17px 20px;
  top: -20px;
  left: 50%;
  margin-left: -17px;
}
.projects .modal1:before {
  content: "";
  position: absolute;
  width: 0;
  z-index: 0;
  border-style: solid;
  border-color: #00afef transparent;
  border-width: 0 20px 23px;
  top: -24.5px;
  left: 50%;
  margin-left: -20px;
  display: block;
}
.projects .modal2 {
  -webkit-transform: translateY(18rem);
          transform: translateY(18rem);
}
.projects .modal2:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 0 17px 20px;
  top: -20px;
  left: 50%;
  margin-left: -17px;
}
.projects .modal2:before {
  content: "";
  position: absolute;
  width: 0;
  z-index: 0;
  border-style: solid;
  border-color: #00afef transparent;
  border-width: 0 20px 23px;
  top: -24.5px;
  left: 50%;
  margin-left: -20px;
  display: block;
}
.projects .modal3 {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}
.projects .modal3:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 20px 17px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -17px;
}
.projects .modal3:before {
  content: "";
  position: absolute;
  width: 0;
  z-index: 0;
  border-style: solid;
  border-color: #00afef transparent;
  border-width: 23px 20px 0;
  bottom: -24.5px;
  left: 50%;
  margin-left: -20px;
  display: block;
}
.projects .modal4 {
  -webkit-transform: translateY(11rem);
          transform: translateY(11rem);
}
.projects .modal4:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 20px 17px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -17px;
}
.projects .modal4:before {
  content: "";
  position: absolute;
  width: 0;
  z-index: 0;
  border-style: solid;
  border-color: #00afef transparent;
  border-width: 23px 20px 0;
  bottom: -24.5px;
  left: 50%;
  margin-left: -20px;
  display: block;
}

.contact {
  background: url(../assets/greenStripe.png);
  background-size: 70rem;
  background-position-x: -3rem;
  background-position-y: -11rem;
  overflow-y: scroll;
}
.contact h2 {
  bottom: 0;
  font-size: 2.6rem;
  margin: 2rem 0;
  text-align: center;
}
.contact form {
  opacity: 0.85;
  background-color: #FFF;
  padding: 1rem;
  border: 4px solid;
  border-radius: 5px;
  border-color: #3FC35F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}
.contact form h3 {
  text-align: center;
  font-size: 2rem;
  width: 100%;
  margin-top: 0;
}
.contact form label {
  padding-bottom: 1rem;
  width: 100%;
}
.contact form label:last-of-type {
  width: 100%;
}
.contact form input {
  font-family: "Oswald", sans-serif;
  width: 100%;
  padding: 0.2rem 0.5rem;
  outline: none;
}
.contact form button {
  background: #3fc35f;
  margin: auto;
  padding: 0.2rem 3rem;
  border-style: none;
  border-radius: 10px;
}
.contact form button i {
  color: #FFF;
}
.contact textarea {
  resize: none;
  font-family: "Oswald", sans-serif;
  width: 100%;
  padding: 0.5rem;
  height: 12rem;
  outline: none;
}

@media (min-width: 324px) and (orientation: landscape) {
  .intro {
    background-position-x: -4rem;
    background-position-y: -13rem;
    overflow-y: scroll;
  }
}
@media (min-height: 650px) {
  .intro {
    background-position-x: -21rem;
    background-position-y: -11rem;
  }
}
@media (min-width: 915px) {
  .intro {
    background-position-x: -3rem;
  }
}
@media (min-width: 1200px) and (orientation: landscape) {
  .intro {
    overflow: hidden;
  }
}
@media (min-width: 625px) {
  .intro h1 {
    margin-top: 5rem;
  }
}
@media (min-width: 845px) {
  .intro h1 {
    text-align: right;
  }
}
@media (min-height: 324px) and (orientation: landscape) {
  .intro .imgContainer {
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 430px) {
  .intro .imgContainer {
    max-width: 18rem;
    margin-top: -1rem;
  }
}
@media (min-height: 650px) and (min-width: 625px) {
  .intro .imgContainer {
    margin-top: 2rem;
  }
}
@media (min-height: 650px) and (min-width: 874px) {
  .intro .imgContainer {
    margin-top: 8rem;
  }
}
@media (min-height: 650px) and (min-width: 915px) {
  .intro .imgContainer {
    margin-top: 0;
    position: absolute;
    bottom: 1rem;
    left: 8rem;
    max-width: 21rem;
  }
}
@media (min-height: 650px) and (min-width: 1200px) and (orientation: landscape) {
  .intro .imgContainer {
    bottom: -3rem;
  }
}

@media (min-width: 580px) {
  .about {
    background-position-x: -3rem;
  }
  .about .skillList {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 625px) {
  .about h2 {
    margin-top: 5rem;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about {
    overflow: hidden;
  }
  .about .bio {
    margin: 0;
  }
  .about .skillList {
    position: absolute;
    top: -2rem;
    right: 5rem;
    background: transparent;
    border: none;
    opacity: 1;
  }
}

@media (min-width: 375px) {
  .projects h2 {
    padding-top: 4rem;
    font-size: 3rem;
  }
  .projects button {
    padding: 0.5rem 1rem;
  }
  .projects .modal3 {
    -webkit-transform: translateY(9rem);
            transform: translateY(9rem);
  }
  .projects .modal4 {
    -webkit-transform: translateY(16rem);
            transform: translateY(16rem);
  }
}
@media (min-width: 400px) {
  .projects .modal4 {
    -webkit-transform: translateY(22rem);
            transform: translateY(22rem);
  }
}
@media (min-width: 425px) {
  .projects .modal2 {
    -webkit-transform: translateY(24rem);
            transform: translateY(24rem);
  }
  .projects .modal3 {
    -webkit-transform: translateY(17rem);
            transform: translateY(17rem);
  }
  .projects .modal4 {
    -webkit-transform: translateY(28rem);
            transform: translateY(28rem);
  }
}
@media (min-width: 625px) {
  .projects h2 {
    font-size: 5rem;
  }
  .projects .modal2 {
    -webkit-transform: translateY(35rem);
            transform: translateY(35rem);
  }
}
@media (min-width: 750px) {
  .projects h2 {
    padding-top: 1rem;
    text-align: left;
  }
  .projects li {
    width: 43%;
  }
  .projects .modal1 {
    -webkit-transform: translate(8rem, -1rem);
            transform: translate(8rem, -1rem);
  }
  .projects .modal1:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent white;
    border-width: 17px 20px 17px 0;
    top: 50%;
    left: -20px;
    margin-top: -17px;
  }
  .projects .modal1:before {
    content: "";
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: transparent #00afef;
    border-width: 21px 24px 21px 0;
    top: 50%;
    left: -26px;
    margin-top: -21px;
    display: block;
  }
  .projects .modal1:before, .projects .modal1:after {
    margin-left: 0;
  }
  .projects .modal2 {
    -webkit-transform: translate(-9rem, 0);
            transform: translate(-9rem, 0);
  }
  .projects .modal2:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent white;
    border-width: 17px 0 17px 20px;
    top: 50%;
    right: -20px;
    margin-top: -17px;
  }
  .projects .modal2:before {
    content: "";
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: transparent #00afef;
    border-width: 21px 0 21px 24px;
    top: 50%;
    right: -26px;
    margin-top: -21px;
    display: block;
  }
  .projects .modal2:before, .projects .modal2:after {
    left: auto;
    top: 25%;
  }
  .projects .modal3 {
    -webkit-transform: translate(9rem, 5rem);
            transform: translate(9rem, 5rem);
  }
  .projects .modal3:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent white;
    border-width: 17px 20px 17px 0;
    top: 50%;
    left: -20px;
    margin-top: -17px;
  }
  .projects .modal3:before {
    content: "";
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: transparent #00afef;
    border-width: 21px 24px 21px 0;
    top: 50%;
    left: -26px;
    margin-top: -21px;
    display: block;
  }
  .projects .modal3:before, .projects .modal3:after {
    bottom: auto;
    margin-left: 0;
    top: 75%;
  }
  .projects .modal4 {
    -webkit-transform: translate(-8rem, 5rem);
            transform: translate(-8rem, 5rem);
  }
  .projects .modal4:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent white;
    border-width: 17px 0 17px 20px;
    top: 50%;
    right: -20px;
    margin-top: -17px;
  }
  .projects .modal4:before {
    content: "";
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-color: transparent #00afef;
    border-width: 21px 0 21px 24px;
    top: 50%;
    right: -26px;
    margin-top: -21px;
    display: block;
  }
  .projects .modal4:before, .projects .modal4:after {
    bottom: auto;
    left: auto;
  }
}
@media (min-width: 780px) {
  .projects .modal4 {
    -webkit-transform: translate(-8rem, 9rem);
            transform: translate(-8rem, 9rem);
  }
}
@media (min-width: 1200px) {
  .projects {
    overflow: hidden;
  }
  .projects h3 {
    position: absolute;
    right: 6rem;
    top: 0rem;
  }
  .projects li {
    width: 30%;
    margin-top: 0;
  }
}

@media (min-width: 515px) {
  .contact textarea {
    height: 8rem;
  }
}
@media (min-width: 650px) {
  .contact h2 {
    font-size: 5rem;
  }
  .contact form label {
    width: 49%;
  }
}
@media (min-width: 1200px) {
  .contact {
    overflow: hidden;
  }
  .contact h2 {
    margin: 0;
    margin-top: -1rem;
    text-align: right;
  }
}